body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.close-icon
{
  display:block;
  box-sizing:border-box;
  width:1rem;
  height:1rem;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  transition: all 0.3s ease;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.toolbar
{
width: 100%;
background-color: #363d4d;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: relative;
}

.message
{
color: #fff;
margin: 0 10px 0 0;
}

.btn {
  background-color: #898fda;
  border-radius: 2px;
  color:  #fff;
  cursor: pointer;
  background-image: none;
  padding: 5px;
  transition: all 0.5s;
}